* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background: #FFC3C3;
}

.container {
  margin: auto;
  width: 90%;
  height: max-content;
}

.form {
  background: #E69C9C;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 2px 4px 4px #FFBEBE;
}

.form h2 {
  margin: 1rem;
  color: #E87070;
}

.form input {
  display: block;
  border-radius: 12px;
  border: none;
  margin: 0.5rem auto;
  width: calc(90% - 2rem);
  padding: 1rem;
}